<section class="row" data-ng-controller="AccountController">
    <div class="page-header">
        Killian and Partners Web Client Project with Authentication Skeleton
    </div>

    <h2>Welcome, {{user.account_name}} </h2>
    <p>
        Start adding components to flesh out your app
    </p>

    <a href="/auth/signout">Signout</a>
</section>