.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
/*body{*/
    /*background: url("/modules/core/img/brand/bg.jpg") no-repeat center fixed;*/
/*}*/

body{

}

.jumbotron{
    background-color: inherit;
    opacity: .7;
}
.default-bg{
    /*background-color: inherit;*/
    background-color: rgb(41,93,113);
    opacity: .9;
}



.img-country{
    height: 75px;
    width: 100px;
    padding: 3px 5px 3px 3px;
}

a > img:hover {
    border-radius: 20px;
    transform: scale(1.05);
}


footer{
    background-color: #000000;
    opacity: .8;
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    padding-top:20px;
    margin-right: 50px;
}

.error{
    color: #ffff00;
}

