<section class="row" data-ng-controller="AuthenticationController">
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
        <div class="page-header">
            <h3>Sign in</h3>
        </div>
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control"
                           data-ng-model="credentials.account_name" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                           data-ng-model="credentials.password" placeholder="Password">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                    &nbsp; or&nbsp;
                    <a href="/#!/signup">Sign up</a> |    <a href="/#!/password/forgot">Forgot your password?</a>

                </div>

                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
			</fieldset>
		</form>
	</div>
</section>